{% extends 'base.html' %} {% block content %}

<header class="header">
    <div class="company">
        <div class="logo">
            <img src="/static/offerletter/img/logo.png" width="200px" height="100px" alt="">
        </div>
        <div class="company-name">International Business Machines Headquarters</div>
    </div>
    <div class="address">
        <div class="street-city">1 Orchard Rd, Armonk</div>
        <div class="state-pin">New York, 10504</div>
        <div class="country">United States Of America</div>
    </div>
</header>

{% comment %}
<div class="logo-container">
    <img class="logo" src="{{logo}}" />
</div>
<div class="space"></div>
{% endcomment %}

<div class="heading">
    Job Offer Letter
</div>
<div class="date">-- 12th August, 2022</div>
<div class="space"></div>


<div class="offer-body">
    <div class="candidate-name">Mr. Sumit Saurav,</div>
    <div class="address">
        <div class="street-city">1 Orchard Rd, Armonk</div>
        <div class="state-pin">New York, 10504</div>
        <div class="country">United States Of America</div>
    </div>


    <div class="greetings">Dear Sumit:</div>

    <div class="starter-line">
        <span>Microsoft Corporation</span> is pleased to confirm our offer to appoint you as a <span>Senior Software
            Developer</span>, reporting to <span>Chris Liddell</span>. We anticipate that you will start your employment
        on <span>May 1, 2006</span>.
    </div>

    <div class="terms-n-conditions">
        Terms and Conditions mentioned during our meeting are mentioned below:
        <ol>
            <!-- Location -->
            <li>
                <div class="tnc-heading">
                    Location / Place Of Posting
                </div>
                <div class="tnc-description">
                    Your work location will be Armonk. However based on organizational and business
                    exigencies imperatives, you be transferred to location anywhere in India or abroad.
                </div>

            </li>
            <!-- Designation -->
            <li>
                <div class="tnc-heading">
                    Designation
                </div>
                <div class="tnc-description">
                    You will be designated as Manager Logistics - Import / Export.
                </div>
            </li>
            <!-- Total Compensation -->
            <li>
                <div class="tnc-heading">
                    Total Compensation
                </div>
                <div class="tnc-description">
                    You Total Cost to Company (CTC) will be as per details mentioned in Annexure attached within this
                    letter below.
                    <br />
                    <div class="break"></div>
                    You will participate in the Provident Fund Scheme as application to your category of the employees
                    further you will be covered by Company sponsored and / or administered employee benefit programs as
                    may come into force from time. Your compensation shall be reviewed annually as per the Company
                    policy. Your increments are discretionary and will be subject to and on the basis of effective
                    performance and results at the sole discretion of the Company.
                    <div class="break"></div>
                    The remuneration shall be subject to deduction of taxes in accordance with Income Tax Act. 1961 and
                    it shall be your responsibility to meet and fulfill all tax liabilities and requirements under the
                    above and other application laws including compliance and filing of tax returns etc.
                </div>
            </li>
            <!-- Probation and Confirmation -->
            <li>
                <div class="tnc-heading">
                    Probation and Confirmation
                </div>
                <div class="tnc-description">
                    You will be on probation for a period of <span>six [06] months</span> from the start date of
                    appointment <span>[May 1, 2006]</span>.
                    <div class="break"></div>
                    At the end of this period, your service will be confirmed subject to your satisfactory conduct and
                    performance. Your
                    probationary period may short of expectation during the initial period of probation either by
                    another six month or for a shorter as determined by the Company. In the event your conduct and
                    performance is
                    found unsatisfactory or if it falls short of expectation either during initial probationary period
                    or during extended period of probation your services are liable to be terminated without assigning
                    any reason.
                    You shall be deemed to be on probation until and unless your services are confirmed in writing.
                </div>
            </li>
            <!-- Termination Of Employment -->
            <li>
                <div class="tnc-heading">
                    Termination Of Employment
                </div>
                <div class="tnc-description">
                    This contract of employment can be terminated by either party after giving:

                    <ul style="margin-top: 5px;">
                        <li>
                            <div class="inner-list">15 days notice or Gross Salary during probation.</div>
                        </li>
                        <li>
                            <div class="inner-list">1 month notice or Gross Salary in thereof upon confirmation.</div>
                        </li>
                    </ul>

                    Upon termination by either party you will immediately hand over to the Company all property
                    belonging
                    to the Company and / or relating to its business, including but not limited to any Laptop, Mobile
                    Instrument including SIM Card. Brochures, Specification, Formulae, Books, Documents, Market Data,
                    Cost, Literature, Drawings, Effects or Records, etc and you undertake of all such material before
                    processing your final settlement.
                </div>
            </li>
            <!-- Physical And Mental Fitness -->
            <li>
                <div class="tnc-heading">
                    Physical And Mental Fitness
                </div>
                <div class="tnc-description">
                    This offer is subject to your being found medically fit at the time of your joining and remaining
                    fit during
                    the tenure of your employment with us. The Company reserves the right to terminate your employment
                    should your be found unfit at any point in time during the course of your employment and under such
                    circumstances, the notice period specified in Clause 5 above shall not apply.
                </div>
            </li>
            <!-- General Service Conditions -->
            <li>
                <div class="tnc-heading">
                    General Service Conditions
                </div>
                <div class="tnc-description">
                    As part of your employment you are expected to comply with standards of business behavior confirming
                    to the code of conduct guidelines contained in various polices / procedures / rules and regulations.
                    You
                    are expected and required to familiarize yourself with these various Guidelines / Policies /
                    Procedures /
                    Rules or Regulations available with the Human Resource Department, and specifically note the
                    following:
                    <ol style="list-style-type: lower-alpha; margin-top: 30px; font-weight: normal;">
                        <li>
                            <div class="inner-list">You will wholly and exclusively in the time employment of the
                                Company and
                                are not permitted
                                to carry on any other business, profession or employment. You will have to obtain prior
                                written
                                permission from the HR Head before undertaking any teaching, training or writing
                                assignment
                                and ensure that views expressed by you in the media / publications, if any are strictly
                                your
                                personal views.
                            </div>
                        </li>
                        <li>
                            <div class="inner-list">
                                Any violation of code of conduct / acts that are a criminal offense
                                or involve moral turpitude
                                would invite appropriate disciplinary action including termination of employment.
                            </div>
                        </li>
                        <li>
                            <div class="inner-list">
                                In addition to your usual duties you may be required to perform any work assigned to you
                                by
                                the Company / any officer of the Company where you may be posted for the time being.
                            </div>
                        </li>
                        <li>
                            <div class="inner-list">
                                You will be covered by leave, holidays and working hour policies as application to
                                employees at
                                all locations and as set out in the Company policies.
                            </div>
                        </li>
                        <li>
                            <div class="inner-list">
                                In the event you voluntarily terminate the contract of service or this appointment as
                                the case
                                may be within a period of One year from the joining date the company shall recover all
                                that
                                expresses incurred by the company towards your joining which shall include but not be
                                limited
                                to the relocation expenses (charges for the transportation / packing / unpacking /
                                loading /
                                unloading charges) for self spouse and children or any other amount paid to you in order
                                in
                                facilitate you joining us.
                            </div>
                        </li>
                    </ol>
                </div>
            </li>
            <!-- Transfer -->
            <li>
                <div class="tnc-heading">
                    Transfer
                </div>
                <div class="tnc-description">
                    In view of organization and business needs, your services can be transferred by the Company in such
                    capacity as the Company may from time to time determine anywhere in India or abroad to any one of
                    the Company's department subsidiaries, Joint Ventures Associates etc. Consequent to such transfers,
                    you will be governed by the terms and conditions of service as application to your category of
                    employee
                    in the new organization and place.
                </div>
            </li>
            <!-- Retirement -->
            <li>
                <div class="tnc-heading">
                    Retirement
                </div>
                <div class="tnc-description">
                    You will retire from the services of the Company upon attainment of Sixty years of age. The actual
                    date
                    of retirement shall be the last working day of the calendar month in which your 60th birthday falls.
                    However you may be retired at any age before Sixty years during your services in the organization if
                    you
                    are unable to continue in service satisfactorily due to any form of physical or mental infirmity or
                    are not
                    able to perform the given work for any other reason whatsoever.
                </div>
            </li>
            <!-- Statement Of Fact -->
            <li>
                <div class="tnc-heading">
                    Statement Of Fact
                </div>
                <div class="tnc-description">
                    Notwithstanding any other terms and conditions stipulated herein if at any stage during the tenure
                    of
                    your service it is found that any particulars or details furnished by you are incorrect and / or
                    this
                    agreement of service has been obtained by misrepresentation of facts, the Company shall in addition
                    to
                    taking such further and other action in civil and criminal law as it may be advised have the right
                    to
                    terminate your service forthwith without giving any notice. The company reserves the rights to
                    conduct
                    verification checks to ascertain facts if needed.
                </div>
            </li>
            <!-- Applicability of Other Agreements -->
            <li>
                <div class="tnc-heading">
                    Applicability of Other Agreements
                </div>
                <div class="tnc-description">
                    The Company has a policy of sponsoring certain employee for various training assignment with the
                    Group Companies / Company's Technical Collaborators or any other Institutions / Organizations in
                    India
                    or abroad. Should you be selected for such an assignment you will diligently and beneficially take
                    part in
                    such assignment. Further all expenses towards travel accommodation and other related expresses
                    (excluding any personal expenses) for such training (s) shall be borne by the Company. In the event
                    you
                    are unable to successfully complete such training or voluntarily terminate the contract of service
                    or this
                    appointment before completing one year from the date of such training you shall be liable for
                    payment
                    of all expenses incurred by the Company for such training (s) at the sole discretion of the Company.
                </div>
            </li>
            <!-- Intellectual PropertyRights Non-Disclosure and conflict of Interest Undertaking -->
            <li>
                <div class="tnc-heading">
                    Intellectual PropertyRights Non-Disclosure and conflict of Interest Undertaking
                </div>
                <div class="tnc-description">
                    In course of your employment with the Company you will have access to certain confidential and
                    proprietary information of the Company / parent company / subsidiaries and their activities. You
                    will not
                    at any time without the written consent of an authorized signatory of the Company disclose divulge
                    or
                    make public except on legal obligations any information related with Company'ss affairs or
                    administration or research carried out whether the same may be confided to you or become known to
                    you in the course of your employment or otherwise.
                    <div class="break"></div>
                    Further if you conceive any new or advanced methods of improving process / formulae / systems in
                    relation to the business / operation of the Company and / or any of its subsidiaries such
                    development
                    will be fully communicated to the Company and will remain sole right / property of the Company. The
                    copyright for any software and other rights derived from the results of development and research
                    through the research and development including without limitation right to apply for patent,
                    copyright
                    for the software technical documents and technical shall be that of Company.
                    <div class="break"></div>
                    You shall not disclose either during your employment or afterwards, by word of mouth or otherwise
                    any
                    information / details / particulars pertaining to any technical scientific, administrative policy
                    matter
                    including financial details pay packages / profile of employees and / or any other matter concerning
                    the
                    management or any of its subsidiaries etc. and / or any other matter / information / knowledge and /
                    or
                    skill that you may come to know / acquire during your employment with the management / its
                    subsidiaries / any other concern where you may be posted during your employment.
                    <div class="break"></div>
                    Should any dispute arise out of or in relation to this Letter of Appointment and the matters dealt
                    with
                    therein, the same shall be referred to arbitration by a sole arbitrator to be appointed by the HR
                    Head.
                    The arbitration shall be governed by the Arbitration and Conciliation Act, 1996 and the venue of the
                    Arbitration shall be New Delhi. The terms and conditions of this letter shall be governed and
                    construed
                    in accordance with the laws of India and subject to the provisions as to resort to arbitration, in
                    the event
                    of any dispute arising out of this letter, the Courts at New Delhi only shall have jurisdiction.
                    <div class="break"></div>
                    The invalidity or unenforce ability of any part of this Contract shall not affect the binding effect
                    of the
                    rest of the letter

                </div>
            </li>
        </ol>

        <div class="space"></div>
        We take this opportunity to wish you many years of a rewarding and mutually enriching association
        with Microsoft Corporation.
        <div class="break"></div>

        Thanking You.
        <div class="space"></div>
        
        <span>For Microsoft Corporation</span>
        <div class="space"></div>
        <div class="space"></div>
        <span>Authorized Signatory</span>
        <div class="space"></div>

        <div class="annexure">
            <div class="heading">ANNEXURE I</div>
        </div>
    </div>
</div>

{% comment %}
<div class="container">
    <p>Date: {{joining_data}}</p>
    <p>{{fullname}}</p>
    <br />
    <p> https://dribbble.com/shots/13850899-Payouts
        <u><strong>OFFER LETTER OF EMPLOYMENT</strong></u>
    </p>
    <br />
    <p>Dear {{fullname}},</p>
    <p>
        With reference to your application and subsequent interview(s) you had with
        us, we are pleased to
        <br />
        offer you employment in our organization, on the term and conditions,
        mentioned in this letter for
        <br />
        offer of appointment herin below :-
    </p>
    <br />
    <p><strong>Department: </strong> {{department}}</p>
    <p><strong>Level Grade: </strong> {{level}}</p>
    <p><strong>Designation: </strong> {{designation}}</p>
    <p><strong>Location: </strong> {{location}}</p>
    <p><strong>Compensation: </strong> As per Annexure 1</p>
    <div class="space"></div>

    <div class="row sign-container">
        <div class="col md-3 sign">
            <p><strong>XpressoGroup</strong></p>
        </div>
        <div class="col md-3 sign">
            <p><strong>Human Resource</strong></p>
        </div>
        <div class="col md-3 sign">
            <p><strong>Employee</strong></p>
        </div>
    </div>
    <footer style="border-top: 2px solid black !important" class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="address">
            <p>5th Floor, A1 Tower, Ansal Plaza, Sector 82, Noida 201304</p>
            <div class="row">
                <div class="col md-2">
                    {% comment %}
                    <img src="{% static 'docs/icon/telephone-fill.svg' %}" alt="telephone" />

                    <p class="contact">+919540150666</p>
                </div>
                <div class="col md-2">
                    \
                    <p class="contact">info@xpressogroup.com</p>
                </div>
                <div class="col md-2">
                    <p class="contact">https://xpressogroup.com</p>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endcomment %} {% endblock %}
